@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android';
    src:url('../fontes/IDroid.otf') format('opentype');
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #d2d3b8;
    --cor1: #0FC2C0;
    --cor2: #0CABA8;
    --cor3: #008F8C;
    --cor4: #015958;
    --cor5: #023535;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    text-align: justify;
}

header{
    background-image: linear-gradient(to bottom,var(--cor1), var(--cor5));
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
    }

header > h1{
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.493);
    
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin:auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);

}

nav{
    background-color: var(--cor5);
    padding: 10px;
    padding-top: 1em;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.144);
    
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;  
    transition: 0.5s;
}

nav a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    min-height: 200px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    color: black;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-align: center;
    font-weight: normal;
    font-family: var(--fonte-android);
    border-radius: 3px;
    margin: 10px 0px 30px 0px;
}

main p{
    text-align: justify;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    line-height: 1.3em;
}

main h4{
    color: var(--cor5);
    text-align: center;
    font-size: 1.2em;
    font-family: var(--fonte-destaque);
    margin-top: 12px;
    
}

main img{
    max-width: 100px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 2em;
    animation: float 2s ease-in-out infinite;
}   

@keyframes float{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}

main a{
    text-decoration: underline;
    color: var(--cor5);
}

main a:hover{
    text-decoration: underline;
    color: var(--cor3);
}